.menu {
    margin: 0 auto;
    background-image: url('https://res.cloudinary.com/diby2nljo/image/upload/c_scale,q_auto:eco,w_1343/v1611004266/CoffeeShopProject/cafeMenu.jpg');
    background-size: 150rem;
    margin-bottom: -3em;
    position: relative;
    z-index: 1;
  }

  .menuNav {
    position: relative;
    z-index: 2;
  }

  .menuNav ul {
    margin: 0;
    padding: 1em 0;
    background-color: var(--clr-accent);
  }

  .menuNav li {
    background-color: Transparent;
    text-shadow: 0.02em 0.02em black;
    color: var(--clr-light);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
  }

  .menuNavSelected {
    border-top: white solid 1px !important;
    border-bottom: white solid 1px !important;
  }
  
  .menuItemsHeader{
    width: 70%;
    margin: 0 auto;
   }

  .menuBody{
    position: relative;
    bottom: 3em;
    padding-top: 3em;
    width: 70%;
    margin: 0 auto;
    background-color: var(--clr-light);
  }
  
   #menuItem-description {
     margin: 0;
     padding: 1em;
   }

   .menuItems {
     padding: 1em;
   }

   @media only screen and (max-width: 800px){
     .menuBody {
       width: 85%;
     }
   }