.location {
    position: relative;
    z-index: 3;
    background-image: url(https://res.cloudinary.com/diby2nljo/image/upload/c_fill,q_auto:eco,w_1924/v1610477303/CoffeeShopProject/Cafe_Exterior.jpg);

    &_main {
        margin: 0 auto;
    width: 70%;
    background-color: $light;

        &_description {
            margin: 0 auto;
            width: 70%;

            h3 {
                margin-top: 0;
                padding-top: 1em;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .location iframe {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .location {
        &_main {
            width: 85%;
        }
        
    }
}