.logo {
	padding: 0 1em;
	height: 6em;
	background-color: $clr-accent;
	outline: 1px solid $clr-accent;
	text-shadow: 0 2px rgba(0, 0, 0, 0.164);
    
    h1 {
		font-size: 1.4em;
		margin: .08em;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		letter-spacing: .175em;
		line-height: 0.8em;
    }
    
	p {
		font-size: 0.6em;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		letter-spacing: .08em;
    }
    
	img {
		height: 2em;
		margin-bottom: 0.2em;
		filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.794));
    }

    &:hover {
        color: $light;
    }
}
