.videoContainer {
    position: relative;
    height: 24em;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.videoContainer_Overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
  background: black;
  opacity: 0.8;
}

.videoContainer_TextContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 6;
  top: 0px;
  color: white;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.videoText {
  width: 95%;
  margin: 0 auto;
}

.mission {
  display: flex;
  flex-direction: row;
}

.mission_section {
  margin: 0 2em;
  width: 30%;
}

.objectives {
  padding: .25em;
}

.objectives p {
  margin: 1.2em auto;
  width: 60%;
}

.vision {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),url("../../media/images/mission.jpg");
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: .25em;
}

@media only screen and (max-width: 1300px){
  .videoContainer {
    height: calc(40em - 15vw)
  }
} 

@media only screen and (max-width: 1000px){
  .videoContainer {
    height: calc(45em - 15vw)
  }
  .mission {
    display: block;
  }

  .mission_section {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (max-width: 800px){
  .videoContainer {
    height: calc(50em - 15vw)
  }
}

@media only screen and (max-width: 600px){
  .videoContainer {
    height: calc(60em - 15vw)
  }
}