:root {
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;

  --clr-light: rgb(255, 255, 255);
  --clr-dark: rgb(0, 0, 0);
  --clr-accent: rgb(79, 50, 42);
  --clr-accent-other: rgb(235, 129, 100);

}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px solid var(--clr-accent-other);
}

body {
  font-family: var(--ff-primary);
  text-shadow: 0 1px rgba(0, 0, 0, 0.034);
  text-align: center;
  line-height: 1.5em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a:hover {
  color: var(--clr-accent-other);
}