.mainNav {
    z-index: 2;
    position: relative;
    align-items: center;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url('https://res.cloudinary.com/diby2nljo/image/upload/c_scale,q_auto:eco,w_1769/v1612220251/CoffeeShopProject/header.jpg');
    background-color: rgba(255, 255, 255, 0.328);
    background-position: center;
    background-size: cover;
    font-size: 1.8em;
    letter-spacing: .2em;
    border-bottom: 0.8rem solid var(--clr-accent);
    width: 100%;
  }

  .mainNav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .mainNav nav {
    background-color: rgba(0, 0, 0, 0.358);
  }
  
  .mainNav ul {
    display: flex;
    margin: 0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.596);
    padding-left: 0;
  }
  
  .mainNav .logo:hover {
    color: var(--clr-light);
  }

  .mainNavSelected {
    border-top: white solid 1px;
    border-bottom: white solid 1px;
  }

  .navBtnContainer {
    flex: 0 1 5em;
  }

  .navBtnContainer li {
    padding: 0.3em 0;
  }

  #logo-container {
    flex: 0 1 12em;
  }
  
  .logo {
    padding: 0 1em;
    height: 6em;
    background-color: var(--clr-accent);
    outline: 1px solid var(--clr-accent);
    text-shadow: 0 2px rgba(0, 0, 0, 0.164);
    
  }
  
  .logo h1 {
    font-size: 1.4em;
    margin: .08em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .175em;
    line-height: 0.8em;
  }
  
  .logo p {
    font-size: 0.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .08em;
  }
  
  .logo img {
    height: 2em;
    margin-bottom: 0.2em;
    filter: drop-shadow(1px 1px 0.5px  rgba(0, 0, 0, 0.794))
  }

  @media only screen and (max-width: 1150px){
    #logo-container {
      order: -1;
      flex: 0;
      margin-bottom: 0.3em;
    }

    .navBtnContainer {
      margin: 0 auto;
      flex: 0;
      width: 60%;
    }

    .mainNav ul{
      margin: 0 auto;
      width: 70%;
      flex-direction: column;
      justify-content: space-between;
      align-items:initial;
      outline: 1px solid var(--clr-accent);
      background-color: var(--clr-accent);
    }

  }

  @media only screen and (max-width: 800px) {
    .mainNav ul {
      width: 85%;
    }
  }